bitarray==2.3.0
flask==1.1.2
opencv-contrib-python==4.5.4.60
opencv-python==4.5.4.60
numpy==1.20.3
mediapipe==0.8.9
html5lib==1.1
imagecodecs==2021.8.26
imageio==2.9.0
imagesize==1.2.0
jinja2==2.11.3
jinja2-time==0.2.0
joblib==1.1.0
jpeg==9d
json5==0.9.6
libpng==1.6.37
libwebp==1.2.0
libwebp-base==1.2.0
libxml2==2.9.12
lxml==4.6.3
markupsafe==1.1.1
